server.port: 8081

spring:
  application:
    name: "order-service"
  jpa:
    database: POSTGRESQL
    open-in-view: true
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQL95Dialect
  sql:
    init:
      platform: postgresql
      mode: embedded
  datasource:
    url: jdbc:postgresql://localhost:5432/pizza_db
    username: local
    password: root
  artemis:
    user: artemis
    password: simetraehcapa
  cloud:
    config:
      discovery:
        enabled: true
        service-id: "config-server"
  config:
    import: "optional:configserver:"

logging.level.com.learners: debug

app.config:
  default-page: 0
  default-size: 50
  pizza-service-host: "http://localhost:8080"
  pizza-service-path: "/api/v1/pizza/"
  validate-order-queue: "validate-order"
  validation-result-queue: "validation-result"
  allocate-order-queue: "allocate-order"
  allocation-result-queue: "allocation-result"
  deallocate-order-queue: "deallocate-order"
  allocation-error-queue: "allocation-error"
