server.port: 8082

spring:
  jpa:
    database: POSTGRESQL
    open-in-view: true
    show-sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQL95Dialect
  sql:
    init:
      platform: postgresql
      mode: embedded
  datasource:
    url: jdbc:postgresql://localhost:5432/pizza_db
    username: local
    password: root
  artemis:
    user: artemis
    password: simetraehcapa

logging:
  level:
    com.learners: debug

app:
  config:
    inventory-queue: "inventory"
    allocate-order-queue: "allocate-order"
    allocation-result-queue: "allocation-result"
    deallocate-order-queue: "deallocate-order"

